/* Menulis Rules pada Berkas CSS */
/* <body> */
body {
  font-family: sans-serif;
}
/* <h2> & <h3> */
h2 {
  color: #00a2c6;
}

h3 {
  color: #00a2c6;
}
/* <footer> */
footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
}
